@use "../Abstracts" as abs;

#formContact {
  @include abs.background;
  padding: 25px;
  border-radius: abs.$border-radius;
  margin-top: 10px;

  @media (max-width: 767px) {
    padding: 15px;
  }

  .form-control-wrapper {
    width: 100%;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;

    textarea {
      width: 100%;
    }
  }
}