@use "../Abstracts" as abs;

.top-navigation-tools--language {
  .dropdown {
    position: relative;

    >span {
      display: none;
    }

    &.open {
      #topNavigationDropdown {
        background-color: #e9ebec;
        border-radius: 16px 16px 16px 0;
        color: #0f0f0f;

        .caret::before {
          transform: rotate(-180deg);
        }
      }

      .dropdown-menu {
        display: block;
      }
    }

    #topNavigationDropdown {
      align-items: center;
      border-radius: 16px;
      color: #72727d;
      cursor: pointer;
      display: flex;
      font-size: 14px;
      margin: 3px 0;
      padding: 7px 10px 5px;
      text-decoration: none;
      transition-duration: .3s;
      border: 0;
      background-color: transparent;

      &:hover {
        background-color: #e9ebec;
        color: #0f0f0f;
      }

      .caret {
        margin-left: 4px;

        &::before {
          content: '\f113';
          font-family: 'alfa';
          font-size: 9px;
          display: block;
          transition: transform .2s ease-in-out;
        }
      }
    }

    .dropdown-menu {
      background-color: #fff;
      border: 2px solid #e9ebec;
      border-radius: 0 10px 10px 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, .06);
      display: none;
      left: 0;
      max-width: 130px;
      padding: 5px;
      position: absolute;
      top: calc(100% - 3px);
      z-index: 9999;

      a {
        align-items: center;
        border-radius: 5px;
        color: #0f0f0f;
        display: flex;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.1;
        padding: 5px 10px;
        text-decoration: none;
        width: 100%;

        &:hover {
          background-color: #e9ebec;
        }
      }
    }
  }
}

.languagesMenu {
  @media (max-width: 767px) {
    display: none;
  }

  .languagesMenu__flags {
    display: none;
  }

  .languagesMenu__content {
    display: flex;
    align-items: stretch;

    .languagesMenu__box {
      position: relative;

      .languagesMenu__header {
        margin-bottom: -1px;
        margin-top: 1px;

        cursor: pointer;
        display: flex;
        align-items: center;
        color: #72727d;
        font-size: 14px;
        padding: 7px 10px 5px 10px;
        border-radius: 16px;
        margin: 3px 0;
        text-decoration: none;
        transition-duration: .3s;

        &.languagesMenu__header--name {
          display: none;
        }

        .caret {
          margin-left: 4px;

          &::before {
            content: '\f113';
            font-family: 'alfa';
            font-size: 9px;
            display: block;
            transition: transform .2s ease-in-out;
          }
        }

        &:hover {
          background-color: abs.$color-nav-element-background-hover;
          color: abs.$color-black;
        }
      }

      &.open {
        .languagesMenu__header {
          border-radius: 16px 16px 16px 0;
          background-color: abs.$color-nav-element-background-hover;
          color: abs.$color-black;

          .caret::before {
            transform: rotate(-180deg);
          }
        }

        .languagesMenu__list {
          display: block;
        }
      }
    }

    .languagesMenu__list {
      display: none;
      left: 0;
      top: calc(100% - 3px);
      position: absolute;
      z-index: 9999;
      max-width: 130px;
      @include abs.background;
      border-radius: 0 abs.$border-radius abs.$border-radius abs.$border-radius;
      border: 2px solid abs.$color-nav-element-background-hover;
      padding: 5px;

      .languagesMenu__list__link {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
        text-decoration: none;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 500;
        color: abs.$color-black;

        &:hover {
          background-color: abs.$color-nav-element-background-hover;
        }

        .shp-flag {
          margin-right: 5px;
          min-width: 24px;
        }
      }
    }
  }
}