body.has-detail-product-arrows .carousel-control--product.right,
body.has-detail-product-arrows .carousel-control--product.left {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: '\f113';
    font-family: 'alfa';
    font-size: 16px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
    color: #fff;
    transform: rotate(-90deg);
  }
}

body.has-detail-product-arrows .carousel-control--product.left {
  &::after {
    transform: rotate(90deg);
    margin-left: -7px;
  }
}

body.has-detail-product-arrows .carousel-control--product.right {
  &::after {
    margin-left: -5px;
  }
}