@use "../Abstracts" as abs;

.homepage-box.welcome-wrapper {
  margin: abs.$large-gap 0;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (max-width: 991px) {
    margin-top: abs.$mobile-gap + 10px;
  }

  @media (max-width: 767px) {
    margin: abs.$mobile-gap 0;
  }

  .welcome-wrapper {
    border: 2px solid transparent;
    border-radius: abs.$border-radius;

    text-align: center;

    @include abs.background;

    padding: 20px;

    .welcome {

      >h1,
      .h1 {
        margin-bottom: 0;

        font-size: 32px;
        color: abs.$color-black;
        line-height: 1.1;
        font-weight: 600;
        font-family: abs.$poppins;

        @media (max-width: 767px) {
          font-size: 26px;
        }

        +div {
          margin-top: 10px;
        }
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-top: 20px;
      }

      ul,
      ol {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }

    div {
      line-height: 1.6;
      font-size: 16px;
      color: abs.$color-grey;
    }

    li {
      text-align: left;
    }
  }
}